body {
    background-image: url("../img/back-beer.jpg")
}

h1 {
    font-family: 'Coustard', serif;
    font-size: 41px;
    color: white;
    margin-bottom: 15px;
}

label.middle {
    font-family: 'Coustard', serif;
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.wrapper {
    margin-top: 100px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-beers {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

#hidden {
    display: none;
}

.hiddenBlock #hidden {
    display: block;
}

input {
    text-align: center;
}

.thumbnail {
    border: none;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(251,188,5,1))
}

.caption h3 {
    font-family: 'Lusitana', serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}

.caption p {
    font-family: 'Lusitana', serif; 
    font-size: 16px;
    padding: 15px;  
}






